<% provide(:title, "Log in") %>
<h1>Complete Account Info </h1>

<h2>Personal Information</h2>

<p>
  <strong>First name:</strong>
  <%= @editor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @editor.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @editor.email %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @editor.dob %>
</p>

<%= render 'address_form', editor: @editor %>