<p id="notice"><%= notice %></p>
<h1>App</h1>

<p>
  <strong>App Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @app.amount %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @app.editor.first_name %> <%= @app.editor.last_name %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', editors_path %>
