<p id="notice"><%= notice %></p>
<h2>Thanks, you paid <strong><%=@amount %></strong>!</h2>
<p>
  <strong>Charge ID:</strong>
  <%= @charge.txn_id %>
</p>

<p>
  <strong>Stripe ID:</strong>
 <%= current_user.cus %>
</p>

<%= link_to 'Edit', edit_charge_path(@charge) %> |
<%= link_to 'Back', charges_path %>
